html,
body {
    scroll-behavior: smooth;
    overscroll-behavior: none;
}

body::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: rgba(59, 105, 150, 0.859);
}

.product-name {
    position: absolute;
    top: 0%;
    right: 0%;
    font-size: 2vmin;
    /* width: auto; */
    height: 5vmin;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 1% 0 0;
    position: fixed;
}

.main-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about-mine {
    min-height: 80vmin;
    width: 98%;
    margin-top: 5vmin;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.infos {
    height: 70vmin;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-col {
    height: 100%;
    width: 50%;
}

.first-col img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    background-size: cover;
    border-right: 1px solid rgba(17, 29, 24, 0.564);
}

.second-col {
    height: 100%;
    width: 50%;
}

.name {
    height: 50%;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.name header {
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vmin;
}

.name main {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vmin;
    flex-wrap: nowrap;
    padding-left: 1%;
    width: 100%;
}

.contents {
    border-top: 1px solid black;
    height: 10vmin;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.more-me {
    height: 80%;
    width: 20%;
    background-color: none;
    border-radius: 3%;
    border: none;
    /* clip-path: polygon(20% 0%, 80% 0%, 100% 51%, 100% 51%, 80% 100%, 20% 100%, 0 47%, 0 47%); */
    clip-path: polygon(2% 0, 98% 0, 100% 51%, 100% 51%, 98% 100%, 2% 100%, 0 47%, 0 47%);


}